body {
    margin: 0;
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
}

#constraints-area {
    width: 100%;
    height: 80vh;
    cursor: pointer;
}

#constraints-area svg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.box {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: red;
    cursor: grab;
    z-index: 1;
    transition: outline .2s;
    outline: 1px solid transparent;
}

.box.selected {
    outline: 4px solid black;
}

.explanation {
    min-height: 14vh;
    margin-top: 3.2rem;
    padding: 10px;
    background-color: gray;
}